$flipColour: hsl(232, 22%, 25%);
$flipColourDark: darken($flipColour, 5%);
$textColour: hsl(345, 95%, 68%);
$textColourDark: darken($textColour, 35%);
$soft-red: hsl(345, 95%, 68%);
$very-dark: hsl(234, 17%, 12%);
